<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Guests</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/dist/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/1.11.3/font/bootstrap-icons.css}">
</head>
<body>
<table class="table table-sm type-striped table-bordered table-hover">
    <thead class="table-header table-info">
    <tr>
        <th>№</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Passport Info</th>
        <th>Contact Number</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="g: ${guests}">
        <td th:text="${g.id}"></td>
        <td th:text="${g.firstName}"></td>
        <td th:text="${g.lastName}"></td>
        <td th:text="${g.passportInfo}"></td>
        <td th:text="${g.contactNumber}"></td>
    </tr>
    </tbody>
</table>
<script th:src="@{/webjars/bootstrap/5.3.3/dist/js/bootstrap.bundle.js}"></script>
</body>
</html>