<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hotel Management System</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/dist/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/1.11.3/font/bootstrap-icons.css}">
</head>
<body>
<a href="/guests" class="btn btn-outline-dark">Guests</a>
<a href="/reservations" class="btn btn-outline-dark">Reservations</a>
<a href="/rooms" class="btn btn-outline-dark">Rooms</a>
<a href="/invoices" class="btn btn-outline-dark">Invoices</a>
<script th:src="@{/webjars/bootstrap/5.3.3/dist/js/bootstrap.bundle.js}"></script>
</body>
</html>