<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reservations</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/dist/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/1.11.3/font/bootstrap-icons.css}">
</head>
<body>
<table class="table table-sm type-striped table-bordered table-hover">
    <thead class="table-header table-info">
    <tr>
        <th>№</th>
        <th>Guest</th>
        <th>Room</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="r: ${reservations}">
        <td th:text="${r.id}"></td>
        <td th:text="${r.guest}"></td>
        <td th:text="${r.room}"></td>
        <td th:text="${r.startDate}"></td>
        <td th:text="${r.endDate}"></td>
        <td><i class="bi bi-pencil"></i></td>
        <td><i class="bi bi-trash"></i></td>
        <td></td>
    </tr>
    </tbody>
</table>
<script th:src="@{/webjars/bootstrap/5.3.3/dist/js/bootstrap.bundle.js}"></script>
</body>
</html>