<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reservations</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/dist/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/1.11.3/font/bootstrap-icons.css}">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/hotel">Hotel Management System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/guests">Guests</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/reservations">Reservations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/rooms">Rooms</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/invoices">Invoices</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <table class="table table-sm type-striped table-bordered table-hover">
        <thead class="table-header table-info">
        <tr>
            <th>№</th>
            <th>Guest</th>
            <th>Room</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="r: ${reservations}">
            <td th:text="${r.id}"></td>
            <td th:text="${r.guest.firstName}"></td>
            <td th:text="${r.room.roomClass}"></td>
            <td th:text="${r.startDate}"></td>
            <td th:text="${r.endDate}"></td>
            <td><a th:href="@{/reservations/edit(reservation_id=${r.id})}" data-bs-target="#editConfirm"
                   data-bs-toggle="modal"
                   class="btn btn-sm btn-outline-success"
                   th:attr="data-bs-text=${r.guest.firstName}, data-bs-id=${r.id}"><i
                    class="bi bi-pencil"></i></a>
            </td>
            <td>
                <a class="btn btn-sm btn-outline-danger" data-bs-target="#myconfirm" data-bs-toggle="modal"
                   th:attr="data-bs-link=@{/reservations/delete(reservation_id=${r.id})}, data-bs-text=${r.guest.firstName}, data-bs-id=${r.id}"><i
                        class="bi bi-trash"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="modal fade" id="myconfirm" data-bs-backdrop="static" data-bs-keyboard="false"
     tabindex="-1" aria-labelledby="staticWarningLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticWarningLabel">Warning</h1>
                <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                Are you sure want to delete <span id="reservation-txt" class="span-txt"></span>'s reservation?<br/>
                If you click delete, this <i>cannot be undone</i>.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                <a class="btn btn-outline-danger delete-button">Delete</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="editConfirm" data-bs-backdrop="static" data-bs-keyboard="false"
     tabindex="-1" aria-labelledby="editReservationLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="editReservationLabel">Edit Reservation</h1>
                <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="/reservations/edit" class="my-4">
                    <input type="hidden" id="editReservationId" name="reservationId" value="">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input id="editStartDate" type="date" name="startDate" class="form-control"
                                       placeholder="Start Date">
                                <label for="editStartDate">Start Date</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input id="editEndDate" type="date" name="endDate" placeholder="End Date"
                                       class="form-control">
                                <label for="editEndDate">End Date</label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-outline-success">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    let myConfirmDialog = document.getElementById('myconfirm')
    myConfirmDialog.addEventListener('show.bs.modal', function (event) {
        let button = event.relatedTarget
        let link = button.getAttribute('data-bs-link')
        let gid = button.getAttribute('data-bs-id')
        let text = button.getAttribute('data-bs-text')
        let modalTitle = myConfirmDialog.querySelector('.modal-title')
        modalTitle.textContent = 'Delete: ' + text + ' (' + gid + ')'
        let deleteButton = myConfirmDialog.querySelector('.delete-button')
        deleteButton.setAttribute('href', link)
        let course = document.getElementById('reservation-txt')
        course.textContent = text
    })
</script>
<script>
    let editReservationModal = document.getElementById('editConfirm');
    editReservationModal.addEventListener('show.bs.modal', function (event) {
        let button = event.relatedTarget;
        let rid = button.getAttribute('data-bs-id');
        let startDate = button.getAttribute('data-start-date');
        let endDate = button.getAttribute('data-end-date');

        document.getElementById('editReservationId').value = rid;
        document.getElementById('editStartDate').value = startDate;
        document.getElementById('editEndDate').value = endDate;
    });
</script>
<script th:src="@{/webjars/bootstrap/5.3.3/dist/js/bootstrap.bundle.js}"></script>
</body>
</html>